
.imageAndTextWrapper {
    display: flex;
    margin-top: 60px;
    flex-basis: 0;
  }
  
  .imageAndText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
  }
  
  .imageText {
    text-align: center;
  }

  img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  
.subHeader {
    font-weight: bold;
  }
  
  .headerAndText {
    margin-top: 25px;
  }
  